.tiltedCircle {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 180px 140px 190px 150px;
    transform: rotate(-5deg);
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .tiltedCircle {
        width: 250px;
        height: 250px; /* Adjust size for smaller devices */
    }
}

.tiltedCircleBorder {
    position: absolute;
    border: 1px solid #474306;
    top: calc(10% - 20px);
    right: calc(10% - 20px);
}

/*.tiltedCircleBorder:hover {*/
/*    top: calc(6% - 20px);*/
/*    right: calc(6% - 20px);*/
/*}*/

/* Responsive adjustments */
@media (max-width: 640px) {
    .tiltedCircleBorder {
        top: calc(5% - 10px);
        right: calc(5% - 10px); /* Adjust positioning for smaller devices */
    }
}

.tiltedCircleSlash {
    position: absolute;
    top: calc(90% - 20px);
    right: calc(80% - 20px);
    height: 29px;
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .tiltedCircleSlash {
        top: calc(85% - 10px);
        right: calc(75% - 10px);
        height: 20px; /* Adjust size and position for smaller devices */
    }
}

.tiltedCirclePlus {
    position: absolute;
    top: calc(5% - 22px);
    right: calc(10% - 20px);
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .tiltedCirclePlus {
        top: calc(2% - 12px);
        right: calc(5% - 10px); /* Adjust position for smaller devices */
    }
}

.resumeButton {
    height: 39px;
    width: 110px;
    border-radius: min(6px);
}

.resumeButtonBorder {
    position: absolute;
    border: 1px solid #474306;
    top: calc(40% - 20px);
    right: calc(22% - 20px);
}

.resumeButtonBorder:hover {
    top: calc(48% - 20px);
    right: calc(18% - 20px);
}